DEFECTDOJO_URL=https://defectdojo.exemplo.com
DEFECTDOJO_API_TOKEN=coloque_o_token_aqui
DEFECTDOJO_PRODUCT_NAME=nome_do_produto
DEFECTDOJO_PRODUCT_TYPE=nome_do_tipo_de_produto
DEFECTDOJO_ENGAGEMENT_NAME=nome_do_engagement
DEFECTDOJO_ENGAGEMENT_TYPE=CI/CD
DEFECTDOJO_ENVIRONMENT=Development
DEFECTDOJO_MINIMUM_SEVERITY=Info

PROJECT_NAME=sample-app
PROJECT_PATH=./examples/sample-app
REPORTS_DIR=./reports
SBOM_DIR=./sbom
ZAP_DIR=./zap

TARGET_URL=http://localhost:3000
